@import '~@payloadcms/ui/scss';

.before-login {
  text-align: center;
  margin-bottom: base(2);

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: base(0.5);
    color: var(--theme-elevation-1000);
  }

  &__description {
    color: var(--theme-elevation-650);
    font-size: 0.95rem;
    margin: 0;
  }
}
