# Database connection string
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/payload
# Used to encrypt JWT tokens
PAYLOAD_SECRET=07dad729ad04e2123cc8b362354e778c6f28b653a230a8f6ffa6e52231e7f450
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=cron_secret_payload_2024
# Used to validate preview requests
PREVIEW_SECRET=preview_secret_payload_2024

# Test account for Playwright
TEST_EMAIL=admin@gmail.com
TEST_PASSWORD=admin123
