@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(1.5);

  &__banner {
    & h4 {
      margin: 0;
      font-weight: 600;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: base(0.5);
    color: var(--theme-elevation-800);

    & li {
      width: 100%;
      padding: 4px 0;
    }
  }

  & a {
    color: var(--theme-elevation-1000);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
